.cardProd {
    background-color: white;
    border: 2px lightgray ;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 5px 5px gray;
}

h2, p {
    color: black;
}

img {
    border-radius: 20px;
}

.cardProd:hover {
    background-color: lightgray;
    padding: 14px;
}