.statusContainer {
    margin: 30px;
    color: white;
    font-size: x-large;
    padding: 10px;
}

.badge.online {
    background-color: lightgreen;
    padding: 8px;
    border-radius: 30px;
}

.badge.offline {
    background-color: gray;
    padding: 8px;
    border-radius: 30px;
}

.badge.busy {
    background-color: lightcoral;
    padding: 8px;
    border-radius: 30px;
}